@model HomeViewModel


<partial name="_Carousel" />

<h2>Ciasta tygodnia</h2>
<h4>Sprawdz nasze promocje!</h4>

<div class="row">

    @foreach (var pie in Model.PiesOfTheWeek)
    {
        <partial name="_PieCard" model="pie" />
    }

</div>